<div id="header">
    {{#if loggedIn}}
    <div id="settings"><a href="/profileupdate">Settings</a></div>
    <div id="logout"><a href="/logout">Log out</a></div>
    <div class="about"><a href="/about">About</a></div>
    {{/if}}
    <a href="/homepage"><img src="/images/13-5-7-5CM-Italian-Greyhound-Dog-Car-Stickers-Waterproof-Vinyl-Decal-Car-Styling-Truck-Decoration.png" class="home"></a>
</div>
