<div id="header">
  {{#if loggedIn}}
    <div id="settings">
      <a href="/profileupdate"> Settings </a>
    </div>

    <div id="logout">
      <a href="/logout"> Log out </a>
    </div>

    <div class="about">
      <a href="/about"> About </a>
    </div>
  {{/if}}
  <a href="/homepage" class="home-link">HOMEPAGE</a>
</div>
