<div id="about">
  <p> Galgos, or Spanish greyhounds, are an ancient breed of hunting dog that was once raised only by Spanish noble families.<br>
    Today, these beautiful animals have been reduced to tools that modern-day hunters dispose <br>
    of in a variety of gruesome ways as soon as the hunting season ends.<br>
    The traditional explanation for their cruelty is that if the dogs have shamed their master <br>
    by not performing to their expectations,this dishonor must be washed away by torturing <br>
    and killing the animals, but in reality, it’s all about cutting costs.<br>
    It makes more sense to them to buy new Galgos from a breeder for about 10 euros a piece,<br>
    than spend money on feeding the ones they already own until the next hunting season<br>
    So they just get rid of them in the most appalling ways imaginable.<br>
  <br>
    Hunters have at least 10 Galgos during the hunting season, with some owning as many as 70,<br>
    and since they are so cheap to buy, their lives are worth virtually nothing. At the end of February,<br>
    when the hunting season ends, dogs that didn’t perform as well as expected are hung,<br>
    thrown in wells to drown, burned or skinned alive, dragged behind cars until they die, pitted against fighting dogs or tortured with acid.<br>
    One of the most famous means of torture used by hunters is the “piano dance”,<br>
    which involves hanging the dog by the neck with the tips of its feet barely touching the ground, as it suffocates.<br>
    But death by torture isn’t the only way to go. Some hunters choose to simply abandon their Galgos when they no longer have need of them,<br>
    but make sure to break their legs so they don’t come back.<br>
    They usually starve to death or end up in municipal shelters where they are eventually euthanized.<br>
  <br>
    The good hunting dogs are spared torture and death, if they’re young and strong,<br>
    but are kept in “zulos”, crowded unregulated kennels. After two or three years, <br>
    when they become weakened by malnutrition and excessive training, they are either killed by the hunters or sent to municipal facilities to be euthanized.<br>
    It is estimated that between 50,000 to 100,000 Galgo hunting dogs are killed in Spain every year in what has come to be known as the “Holocaust of Greyhounds”,<br>
    but it’s difficult to know for sure, because nobody knows exactly how many are bred every year. Some hunters breed their own dogs,<br>
    other buy them from breeders, but few of the animals and transactions are actually registered.<br>
  <br>
    The most shocking thing about all this is that authorities in Spain no very well what goes on at the end of the hunting season,<br>
    but don’t seem to want to put a stop to it. On the contrary, laws are made in such a way to ensure that greyhound owners,<br>
    known as “galgueros”, get away with their sadism. Under Spanish law, Galgos are considered work dogs,<br>
    so they are excluded from laws regarding cruelty to pets. They are simply tools to be used and thrown away when the owner no longer deems them useful.<br>
    Also, tying Galgos to a car or a motorcycle to test their speed, a common practice among Spanish greyhound owners, is just an administrative offense, not a criminal one,<br>
    unless it results in death or serious injury. And even though both occur frequently, they are rarely reported.<br>
  </p>
</div>
