<h3 id="home_text"> The Galgo: An Ancient Breed Facing a Modern Day Horror<br>
Today they must be one of the most abused dog breeds on the planet.<br>
 Tens of thousands are killed in Spain every year, often in gruesome ways. Countless more are abandoned.<br>
<br>
<a href="/about">Read more about these traditions</a><font color="red">(Graphic content)</font>
</h3>
<div id="getting_started">

{{#if loggedIn}}
    <div id="loggedin_homepage">
        <a href="/signers">View supporters</a><br>
    </div>
{{/if}}
{{#unless loggedIn}}
<h3><a href="/register">Sign up</a> to sign our petition to make a change</h3>
<h3>Already a member? <a href="/login">Log in</a></h3>
{{/unless}}

</div>
