<div id="img_bg"></div>
<div class="homepage">
  <span id="home_text"> 
    The Galgo: An Ancient Breed Facing a Modern Day Horror<br>
    Today they must be one of the most abused dog breeds on the planet.<br>
    Tens of thousands are killed in Spain every year, often in gruesome ways. Countless more are abandoned.<br>
    <br>
    <a href="/about">
      Read more about these traditions
    </a>
    <font color="#BB3622">(Graphic content)</font>
  </span>
  <div id="getting_started">
    {{#if loggedIn}}
      <div id="loggedin_homepage">
        <a href="/signers">View supporters</a><br>
      </div>
    {{/if}}
    {{#unless loggedIn}}
    <span><a href="/register">Sign up</a> to sign our petition to make a change</span>
    <span>Already a member? <a href="/login">Log in</a></span>
    {{/unless}}
  </div>
</div>
