<div id="img_bg"></div>
<form action="/login" method="POST" class="form-login">
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
  <ul class="login">
    <h2>Log in</h2>
    <div id="error"> {{error}} </div>
    <li>
      <input type="email" name="email" placeholder="email address">
    </li>
    <li>
      <input type="password" name="password" placeholder="password">
    </li>
    <li>
      <button class="login_btn" type="submit">Log in</button>
    </li>
    <li>
      <span class="signup-message">Not a member? Sign up <a href="/register">here</a> </span>
    </li>
  </ul>
</form>
