<div id="img_bg"></div>
<div class="canvas-homepage">
  <span>Sign our petition to save galgos</span>
  <span>Let's be a voice for the voiceless</span>

  <form  action="/petition" method="POST" class="form-login">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <ul id="delete">
      <input type="hidden" name="signature">
      <canvas id="canvasId" width="300px" height="100px"></canvas> <br>
      <button class="submit_btn" type='submit'>Submit</button>
    </ul>
  </form>
  <span>
    <a href="/info">Edit your profile</a>
  </span>
</div>
