<div id="img_bg"></div>
<div id="container3">
  <form action="/register" method="POST" class="form-signup">
  <h1 id="register_error">{{error}}</h1>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <h3>Create an account</h3>
    <ul class="signup">
      <li>
        <input type="text" name="first" placeholder="first name">
      </li>
      <li>
        <input type="text" name="last" placeholder="last name">
      </li>
      <li>
        <input type="email" name="email" placeholder="email address">
      </li>
      <li>
        <input type="password" name="password" placeholder="password">
      </li>
      <li>
        <button class="register-btn" type="submit">SIGN UP</button>
      </li>
      <li>
        <span class="login-message">Already a member?, please <a href="/login"> log in </a></span>
      </li>
    </ul>
  </form>
</div>
